
.descenso{
	background-color: #CC1C1C;
}

.champions{
	background-color: #3544FD;
}

.europa{
	background-color: #9A3D08;
}

.clasiEuropa{
	background-color: #F508E3;
}

.puntuacion{
	background-color: #BFFF69;
}
